#status 
    if status == 'ACCEPTED'
        p Boas notícias #{requester}, #{challenged} aceitou seu desafio para o dia #{challengeDate} no seguinte horário #{challengeHour}!
    else if status == 'DENIED'
        p Não foi dessa vez #{requester}, #{challenged} não aceitou seu desafio para o dia #{challengeDate}!